body {
	margin: 0;
	padding: 0;
}
span {
	font-family: arial, sans-serif;
	font-weight: bold;
}

.logo {
	margin: 24px;
}
.logo span{
	font-size: 36px;
	color: #660099;
}

.links {
	margin-top: 64px;
	margin-left: 24px;
	list-style: none;
	padding: 0;
}
.links li {
	margin-bottom: 16px;
}
.links li:last-child {
	margin: 0;
}
.links a {
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #1a0dab;
}

.copyright {
	margin-top: 192px;
	margin-left: 24px;
}
.copyright span {
	font-size: 12px;
	color: #c3c3c3;
}